<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FreeFEM examples</title>

    {% include head_includes.html %}
  </head>
  <body>
    {% include header.html %}
    <main>
      <div class="filters">
        <!-- Categories -->
        <div id="categories">
          {% for doc in site.docs %}
          <script>
            addCategory("{{ doc.category }}");
          </script>
          {% endfor %}
          <script>
            setCategories();
          </script>
        </div>

        <!-- Search -->
        <div id="search">
          <input type="search" placeholder="Search..." />
          <button>
            <img
              src="{{ site.baseurl }}/assets/img/magnifying-glass.svg"
              alt="search"
            />
          </button>
          <div id="search-results">
            <button>
              <img src="{{ site.baseurl }}/assets/img/xmark.svg" alt="close" />
            </button>
            <div id="search-results-content"></div>
          </div>
          {% for doc in site.docs %}
          <script>
            addKeys(
              "{{ site.baseurl }}{{ doc.url }}",
              "{{ doc.title }}",
              "{{ doc.tags }}"
            );
          </script>
          {% endfor %}
          <script>
            initSearch();
          </script>
        </div>
      </div>

      <!-- Content -->
      {% for doc in site.docs %}
      <article>
        <h2><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></h2>
        <div class="subtitle">
          <p class="category"><strong>Category:</strong> {{ doc.category }}</p>
          <p class="tags"><strong>Tags:</strong> {{ doc.tags }}</p>
          <p class="date">
            <strong>Date:</strong> {{ doc.date | date_to_string }}
          </p>
        </div>
        {{ doc.content | strip_html | truncatewords: 50 }}
        <a href="{{ site.baseurl }}{{ doc.url }}">See more...</a>
        {% if forloop.last %} {% else %}
        <hr />
        {% endif %}
      </article>
      {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
